*{padding: 0;
margin: 0;
box-sizing: border-box;
font-family: 'Island Moments', cursive;
font-family: 'Roboto Slab', serif;}
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
}
main{
    section.backImg{
        min-height: 90vh;
        width: 100%;
        background-size: contain;
        background-image: url('//hawaii-surfing-sport-pacific-ocean-usa-HAWAIISURF0519.jpeg');
        background-position: center;
    }
}
@import "./header/header";
